body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
input{
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: right;
    border: 5px solid black;
}
.button{
    width: 45px;
    height: 45px;
    margin: 3px;
    font-size: 18px;
    border: 2px solid black;
}
