#mainbox{
    background: white;
    
}
#Box{
    display: flex;
    height: 630px;
    width: 90%;
    background-image: linear-gradient( to bottom right,  rgb(270, 99, 117), rgb(241, 224, 236)) ;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
   
}
.mainbody{
    display: flex;
    height:300px;
    width: 350px;
    background-image: linear-gradient( to bottom right,  rgb(270, 99, 117), rgb(248, 198, 222)) ;
    left: 300px;
    top: 250px;
    border-radius: 120px;
    flex-wrap: wrap;
    border: 4px solid black;
   
}
.outereye{

    display: flex;
    margin-top: 50px;
    margin-left: 65px;
    

    
}
#outer1{
   
    height: 80px;
    width: 80px;
    background-color: rgb(189, 156, 161);
    border-radius: 120px;
    margin-right: 25px;
    border: 3px solid black;  
    background-image: linear-gradient( to bottom right,  rgb(250, 169, 179), rgb(241, 224, 236)) ;

}
#outer2{
    height: 80px;
    width: 80px;
    background-color: rgb(189, 156, 161);
    border-radius: 120px;
    margin-left: 5px;
    border: 3px solid black; 
    background-image: linear-gradient( to bottom right,  rgb(250, 169, 179), rgb(241, 224, 236)) ;
}

#inner1{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 60px;
    margin-top: 8px;
    margin-left: 8px;
    border: 4px solid rgb(248, 135, 154);
    background-image: linear-gradient( to bottom right,rgb(20, 19, 19), rgb(112, 109, 111))  ;

}
#inner2{
    height: 60px;
    width: 60px;
    background-color: rgb(17, 16, 16);
    border-radius: 60px;
    margin-top: 8px;
    margin-left: 8px;
    border: 4px solid rgb(248, 135, 154);
    background-image: linear-gradient( to bottom right,  rgb(20, 19, 19), rgb(112, 109, 111)) ;
   
}
#ear1{
    position: relative;
    height: 120px;
    width: 120px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    left: 630px;
    bottom: 100px;
    border: 4px solid black;
    background-image: linear-gradient( to bottom right,  rgb(270, 99, 117), rgb(241, 224, 236)) ;
   
}
#ear2{
    position: relative;
    height: 120px;
    width: 120px;
    background-image: linear-gradient( to bottom right,  rgb(270, 99, 117), rgb(241, 224, 236)) ;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    left:260px;
    bottom: 100px;
    border: 4px solid black;
}
#blush2{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: rgb(177, 23, 46) ;
    border-radius: 50px;
    border: 2px solid black;
    top:160px;
    left: 360px; 
    background-image: linear-gradient( to bottom right,  rgb(290, 99, 117), rgb(241, 224, 236)) ;
    /* border-bottom-right-radius: 150px;
    border-bottom-left-radius: 130px; */
}
#lip{
    height: 60px;
    width: 60px;
    background-image: linear-gradient( to bottom right,  rgb(320, 99, 117), rgb(241, 224, 236)) ;
    border-end-start-radius: 100px ;
    border-end-end-radius: 100px ;
    position: relative;
    top:200px;
    left: 200px;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 130px; 
    border: 2px solid black;
}
#blush1{
    position: relative;
    height: 40px;
    width: 40px;
    background-image: linear-gradient( to bottom right, rgb(290, 99, 117), rgb(241, 224, 236)) ;
    border-radius: 50px;
    top:160px;
    left: 190px;
    border: 2px solid black;
}
